body {
     font-family: 'Poppins', sans-serif;
}

.container {
     margin-top: 50px;
}


.hosting {
     width: fit-content;
}

.hosting li {
     padding-bottom: 3px;
     border-bottom: 1px solid #E5E5E5;
}

.hosting li:first-of-type {
     border-bottom: 1px solid #B00000;
}

.hosting a.one {
     color: #B00000;
}

.hosting a:not(.one) {
     color: rgba(214, 212, 212, 0.88);
}

.section1{
     padding-bottom: 5px;

}
.section1 h1 {
     font-size: 50px;
     line-height: 77px;
     color: #2E2E2E;
}
 
.section1 p {
     line-height: 28px;
     letter-spacing: 0.05em;
     color: #808080;
     margin-right: 84px;
}
 
.section1-text {
     margin-right: 130px;
}
 
.section1 button {
     padding: 12px 13.5px;
     border: none;
     border-radius: 8px;
}
 
.section1 button:first-of-type {
     background: #B00000;
     box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
}

.section-2 {
     margin-top: 130px;
     margin-bottom: 120px;
}

.section2 h2 {
     font-size: 48px;
}
 
.section2 p {
     font-size: 18px;
     line-height: 32px;
     color: #18191F;
}
 
.company-logo {
     width: 75%;
}
 
.logos img {
     width: 100%;
}

.section3-text h3 {
     font-size: 20px;
     line-height: 30px;
}
 
.section3-text p {
     font-size: 12px;
     line-height: 18px;
}